* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

body {
    background-image: url(./assets/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    font-size: 16px;
    display: flex;
}

.columnLeft {
    flex: 1 0 50%;
}

.columnRight {
    flex: 1 0 50%;
    margin-top: 30px;
}

.promotionBanner {
    background-color: #5D54A3;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 8px indianred;
}


}

h1 {
    font-weight: 700;
}

h4 {
    font-weight: 500;
}


@media screen and (max-width: 375px) {
    body {
        background-image: url(./assets/bg-intro-mobile.png);
        text-align: center;
    }

    .container {
        display: inline-block;
    }

    .promotionBanner {
        margin: 0;
        padding: 15px 40px;
    }

    .promotionBanner p {
       
    }

}
